.header {

  /* Sizing & Positioning */
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  margin: auto auto;

  background-color: #F4F5F8;
  /* Children */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px #d8d8d8;


}